<!-- Base de Gustavo Eufrausino -->

<!DOCTYPE html>

<html>

<head>
	<title> Quiz para programadores </title>
	<meta name="description" content="Quiz interativo para testar seus conhecimentos como programdor(a)!">
</head>

<body>
	<header>
		<h1>Quiz interativo para programadores</h1>
		<p>Teste seus conhecimentos em programação aqui</p>
	</header>

	<main>
		<section>
			<h2>Sobre esse quiz</h2>
			<p><strong>Esse quiz</strong> foi feito para testar seus conhecimentos sobre programação</p>
			<p><em>As perguntas serão objetivas e discursivas sobre diferentes tópicos. </em> <br> Confira
				seus conhecimentos em <abbr title="Hyper Text Markup Langugage">HTML</abbr> e <abbr
					title="Cascading Style Sheets">CSS</abbr></p>
		</section>
		<!--Introdução-->
		<section></section>
		<!--P1: Objetiva-->
		<section>
			<h2>P1: Qual é a linguagem usada para estruturar páginas web?</h2>

			<form>
				<input type="radio" value="Python" id="p1a" name="pergunta1">
				<label for="p1a">Python</label><br>

				<input type="radio" value="C" id="p1b" name="pergunta1">
				<label for="p1b">C</label><br>

				<input type="radio" value="HTML" id="p1c" name="pergunta1">
				<label for="p1c">HTML</label><br>

				<input type="radio" value="CSS" id="p1d" name="pergunta1">
				<label for="p1d">CSS</label><br>
			</form>
		</section>

		<!--P2: Discursiva-->
		<section>
			<h2>P2: Na URL https://google.com o trecho "google.com" é o _________.</h2>
			<form>
				<input type="text" id="p2" name="pergunta2" placeholder="Digite sua resposta:">
			</form>
		</section>
		<!--P3: Senha-->
		<section>
			<h2>P3: Escreva um exemplo de senha forte</h2>
			<form>
				<input input="password" id="p3" name="pergunta3" placeholder="Digite a sua resposta:">
			</form>
		</section>
	</main>
	<footer></footer>
</body>

</html>