<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Minascoders</title>
    </head>

    <body>
        <h1>Essa é a página de Notícias!</h1>
        <h1>----------------------------</h1>

        <!-- Voltar para a home -->
        <h3><a href="/">home page</a></h3>
        
        <br>
        <!-- Imprimir as notícias  -->
        {% for noticia, data in noticias %}
            <h2>{{ noticia }}</h2>
            <h3>{{ data }}</h3>
            <br>
        {% endfor %}

        

        <!-- Inserir nova notícia -->
        <p>Inserir nova notícia</p>
        <form method="post">
            <label for="noticia">Digite o nome da noticia</label>
            <input type="text" id="noticia" name="noticia">

            <label for="data">Digite a data da noticia</label>
            <input type="date" id="data" name="data">
            <input type="submit" value="Send" id="submit"/>
        </form>
    </body>
</html>